<h1>My Tweet collections</h1>

{% extends 'index.html' %}

{% block navigation %}
 {{ super() }}
{% endblock %}

{% block main_content %}

{% if not collections %}
There are no collections to show.
{% else %}
<ul>
{% for c in collections %}
    <li>
{#        <a href="http://localhost:5000/collection/{{ c.id }}">{{ c.name }}</a>#}

        <a href="{{ url_for('collection', id=c.id) }}">{{ c.name }}
        <form action="delete/{{ c.id }}" method="POST">
            {{ form.hidden_tag() }}
            {{ form.submit() }}
        </form>
    </li>


{% endfor %}
</ul>
{% endif %}

{% endblock %}



